body{
    background-color:#041b29;
}
#top{
    font-family: 'Bebas Neue', cursive;
    font-size:48px;
    background-color:#041b29;
    color:#bdeaff;
}
h3{
    color:#4f8aff;
}
h4{
    color:#4f8aff
}
#paragraph1{
    color:#4ff3ff;
}
#socials{
    color:#ff38f5;
}
button{
    background-color:rgb(0, 238, 255)
}